In [167]:
# ## Step 1: Read Employee Data from CSV
# This cell loads the dataset using pandas and previews the first few rows.

In [ ]:
!pip install pandas mysql-connector-python

In [129]:
# Step2 : import libraries
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [ ]:
#step3 load the csv file
df = pd.read_csv('data/employees.csv')
df.head()

In [ ]:
#step 4 Connect to mysql database
try: 
    connection = mysql.connector.connect(
        host = "localhost",
        user = "your_ussername",
        password = "your_password",
        database = "employee_db"
    )
    cursor = connection.cursor()
    print("✅ Connected to MySQL")

except Error as e:
    print("❌ Error:", e)

In [ ]:
print(df.columns.tolist())

In [ ]:
#step5 : Convert to datetime and format as YYYY-MM-DD
df['hire_date'] = pd.to_datetime(df['hire_date'], dayfirst=True).dt.strftime('%Y-%m-%d')

#step6: insert data from dataframe to sql table

for _, row in df.iterrows():
    sql = """
    INSERT INTO employees (
    emp_id, first_name, last_name, departments, positions, salary, hire_date, gender, email, phone
    ) Values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s) 
    """
    data = (
        int(row['emp_id']),
        (row['first_name']),
        (row['last_name']),
        (row['departments']),
        (row['positions']),
        float(row['salary']),
        (row['hire_date']),
        (row['gender']),
        (row['email']),
        (row['phone']),
        )
    cursor.execute(sql, data)
     
    
connection.commit()
print("✅ All data inserted!")

In [ ]:
#step7 Commit and close the connetion

cursor.close()
connection.close()
print("connection closed")